<div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= form_for @purchase, validate: true do |form| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
          <%= render "shared/error_messages", :target => @purchase %>

          <%= form.label :amount %>
          <%= form.text_field :amount, id: :purchase_amount %>

          <%= form.label :name %>
          <%= form.text_field :name, id: :purchase_name %>

          <%= form.label :tracking_id %>
          <%= form.number_field :tracking_id, id: :purchase_tracking_id %>

          <%= form.submit %>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
