<div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= form_for @purchase, validate: true, remote: true do |form| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
          <%= render "shared/error_messages", :target => @purchase %>

          <div class ="form-inputs">
          <%= form.label :amount %>
          <%= form.text_field :amount, class: "form-control purchase_amount" %>

          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control purchase_name" %>

          <%= form.label :tracking_id %>
          <%= form.number_field :tracking_id, class: "form-control purchase_tracking_id" %>
          </div>

      </div>
      <div class="modal-footer">
          <%= form.button "Speichern", class: "btn btn-primary", data: { disable_with: "Loading..." } %>
          <% end %>
      </div>
    </div>
  </div>
</div>
