<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClientSideApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
       <%= render 'layouts/header' %>
     </header>
     <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
    </div>
    <div id='remotecontainer'></div>
  </body>
</html>
